/*body {
  background-color:#E2E8F0
}*/

.container {
  background:linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%); 
} 

body {
  background:linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%); 
}

